html {
  scroll-behavior: smooth;
}
.titleText {
  font-family: Libre Baskerville;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}
.bodyText {
  font-family: Lato;
  font-size: 20px;
  color: white;
  margin: 0;
}
.navbarWrap {
  position: fixed;
  margin-left: 20%;
  margin-top: 5%;
  width: 60%;
  font-family: Libre Baskerville;
  font-size: 20px;
}
.navbarWrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.link {
  color: white;
  transition: all .2s;
  border: 2px solid #ffd5f1;
}
.link:hover {
  color: #ffd5f1;
}
#john {
  padding-left: 7px;
  padding-bottom: 2px;
  padding-right: 1px;
}
#photos {
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 1px;
}
.home {
  float: left;
}
.other {
  float: right;
  padding-left: 30px;
}

.introWrap {
  padding: 10% 0;
  margin: auto;
  width: 60%;
}
.photoWrap {
  padding: 10% 0;
  margin: auto;
  width: 60%;
}
.imgWrap {
  margin-bottom: 50px;
  padding-left: 50%;
  animation: fadeIn ease 2s;
}
.introImg {
  border: 5px solid #ffffff;
  width: 100%;
  box-sizing: border-box;
}
.imgCaption {
  text-align: right;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Libre Baskerville;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  background-color: #242424;
}
a {
  text-decoration: none;
  color: inherit;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}