/* General */
:root {
  --intro-theme-colour-A: #ff73d0;
  --intro-theme-colour-B: #ffc5e5;
  --gallery-theme-colour-A: white;
  --gallery-theme-colour-B: rgb(255, 255, 255);
  --text-colour: black; 
  --lenny-func: 1s cubic-bezier(.44,-0.27,.73,.43);
  --enter-gallery-transition: 1s ease-in-out;
  --expand-image-transition: 1s cubic-bezier(.72,.06,.3,.95);
  --expanded-wrapper-height: 80vh;
  --expanded-wrapper-width: 80vw;
  --expanded-image-height: 100%;
  --expanded-image-width: 100%;
  --expanded-wrapper-margin: 30%;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Text */
.title-text {
  font-family: Libre Baskerville;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--text-colour);
}
.body-text {
  font-family: Lato;
  font-size: 20px;
  color: var(--text-colour);
  margin: 0;
}

/* Intro  */
.lenny:hover {
  color: var(--intro-theme-colour-A);
  font-size: 40px;
  cursor: pointer;
}
.lenny{
  color: var(--intro-theme-colour-B);
  position: relative;
  font-family: Arial;
  text-align: center;
  visibility: visible;
  top: 0px;
  transition: font-size .2s, color .2s;
}
.hidden-lenny{
  color: var(--intro-theme-colour-A);
  font-size: 40px;
  cursor: pointer;
  visibility: hidden;
  top: -500px;
  transition: top var(--lenny-func), visibility var(--lenny-func);
}
.hidden-background{
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(255, 255, 255);
}
.intro-background{
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  background: radial-gradient(white , var(--intro-theme-colour-B));
  opacity: 1;
  transition: opacity var(--lenny-func);
}
.entrance-wrap {
  margin: auto;
}
.intro-body {
  margin: 0;
  padding: 0;
  height: 100%;
}



/* Gallery */
.gallery-background {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--gallery-theme-colour-B), white , var(--gallery-theme-colour-B));
}
.photo-wrap-before {
  padding-top: 70%;
  padding-bottom: 10%;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0 10%;
  opacity: 0;
  transition: all var(--enter-gallery-transition);
}
.photo-wrap-after {
  width: 100%;
  padding-top: 10%;
  opacity: 1;
}
.image-wrap {
  margin-bottom: 50px;
  transition: all var(--expand-image-transition);
}
.right-portrait {
  padding-left: 50%;
  padding-right: 30%;
}
.left-portrait {
  padding-right: 50%;
  padding-left: 30%;
}
.right-landscape {
  padding-left: 40%;
  padding-right: 30%;
}
.left-landscape {
  padding-right: 40%;
  padding-left: 30%;
}
.full-landscape {
  padding-left: 30%;
  padding-right: 30%;
}
/*.collapsed-image {
  width: 100%;
}*/
.expanded-image {
  height: var(--expanded-image-height);
  width: var(--expanded-image-width);
  transition: height var(--expand-image-transition), width var(--expand-image-transition);
}
.expanded-wrapper {
  max-height: var(--expanded-wrapper-height);
  max-width: var(--expanded-wrapper-width);
  margin-left: var(--expanded-wrapper-margin);
  margin-right: var(--expanded-wrapper-margin);
  padding: 0;
}
.image {
  width: 100%;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: box-shadow 0.5s ease, opacity var(--expand-image-transition);
}
.image:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 50px;
}
.imgCaption {
  text-align: right;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Libre Baskerville;
  color: white;
}
.gallery-body {
  margin: 0;
  padding: 0;
}